
/* Index html */

/* modifies whatever link is inside []*/
a[title]{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
    color: black;
}


h1{
    background: rgb(255, 255, 255);
    position: sticky;
    top: 0px;

}
/* Modifies all of the document */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
    padding: 40px;
    color: black;
    border-top: 10px solid #242424;
    background: #fff;
    }

    /* About page */
.talk-about-me{
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.5em;
        color: black;
        margin: 0;
        line-height: 1.4em;
    }
/* Index page */
.my-thoughts{  
    font-size: 1em;
    color: black;
    margin: 0;
    line-height: 1.4em;
  

}

/* Index page */
img{
max-width: 100%;

}


.introduction{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;

}

/* About page */
.contacts{
    margin: 0; /*Allows you to create centered web designs that expand & contract with the browser window*/
    padding: 0;
    list-style-type: none; /*Changes bullets, numbers, etc that you see. none gets rid of bullets */
    display: inline-flex;
}

.contacts li{
    width: 50px;
    display: flex; /*change the layout of the icons to display inline*/
    padding: 20px 10px;/*Add space around the images*/
    flex: 6em;
    margin: 0 auto;
}

/*Shadow appears when user hovers over an image*/
.contacts li a img:hover{
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}